

/* Reset do navegador */
* {
  margin: 0px ; 
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body{
  background: #302d2d;
}

a{
  text-decoration: none;
  color:#cbf7e8;
}

a:hover{
  color:#d1c49e;
}

i{
  color:rgb(210, 228, 222) ;
}

#header{
  display: flex;     /* responsivel */
  flex-flow: row wrap;  /* abilita quebra-de-linha */
  justify-content: space-between;
  align-items: center;
  width: 100%;
 padding: 5px 1px; 
 z-index: 2;
}

.trocar-tema{
  display: flex;
  font-size: 20px;
  justify-content: flex-end;
}
#trocar-tema{
  font-size: 20px;
  color:rgb(17, 255, 255) ;
  cursor:pointer;
  transition: 1s;

}

.menu{
  display: flex;
  align-items: center;
  background: #b9aeae73;
  gap: 15px ;

}

.menu-item{
 width: 100%;
}

.menu-link{
display: flex;
align-items: center;
gap: 8px;
}

.menu-mobile{
  width: 100%;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  border-top: 5px solid #cbf7e8;

}



.menu-mobile  .menu-link{
  flex-direction: column;
  justify-content: center;
  padding: 8px 15px ;

  
}

.menu-link.active .menu-icon,
.menu-link.active .menu-text,
.menu-link:hover .menu-icon,
.menu-link:hover .menu-text{
  color: #d499a3;
  font-size: 18px;
  
}

.menu-icon,
.menu-text{
  color: #c5e6dbbb;
  font-weight: 600; /* aumenta a expressura */
}

.menu-icon{
  font-size: 16px;
}

.menu-text{
  font-size: 14px;
  text-transform: uppercase;
}

.header-nav{
  display: none ;
}

.menu-principal {
  gap: 16px;
}

.menu-social{
  gap: 16px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 18px;
  cursor: pointer;
  background: transparent;
  border: none;
  color: #ffffff;

}

.btn:hover{
  transform: scale(1.05);
  transition: ease-in-out .2s;
}

.bnt span,
.btn i{
  font-size: 18px;
  text-transform: uppercase;
}

.btn-primary {
  border: 1px solid rgb(199, 245, 227);
  border-radius: 20px 15px;
}

#home {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 16px;

}

.video iframe{
  width: 100%;
  aspect-ratio: 16/9;
}

#home,
.projetos,
.sobre,
.contato {
  padding: 40px 15px ;

}


p{
  color: #ffffff;
}

/* responsivo */

@media (min-width: 768px) { /* largura limitada */
     
  #header {
    position: fixed;
  border-bottom: 1px solid rgb(171, 219, 203);
  padding: 16px 96px;
  background: #302d2d;
}

.nav-mobile{
  display: none;
}

.header-nav{
  display: flex;
}
 
.header-nav,
.trocar-tema {
  min-width: 30%;
} 


}